MODO_EXTRACAO=regex
ZAPI_INSTANCE_ID=3F4F6871D4B5D1FADEF04EE998918E2A
ZAPI_TOKEN=969096143D9EDF369507E475
ZAPI_CLIENT_TOKEN=
SUPABASE_URL=https://cshhouvdhnxuwswwbmeb.supabase.co
SUPABASE_ANON_KEY=cole_sua_chave_anon_aqui
ANTHROPIC_API_KEY=
PORT=3000
MEU_NUMERO=
